*.log
*.pot
*.pyc
__pycache__
django_boards/__pycache__/
django_boards/boards/__pycache__/
db.sqlite3
.env
venv/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
typescript
.coverage
htmlcov
test.txt
templates/includes/textarea_form.html
media/*
typescript