<nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-auto text-white">
  <div class="container-fluid">
    <a href="/" class="navbar-brand text-white">Django Boards</a>
    <button class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#n_bar"
            aria-controls="navbarNavAltMarkup"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="n_bar">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          {% if request.get_full_path == "/profiles/" %}
            <li class="nav-item mb-0">
              <a class="nav-item nav-link" href="{% url 'users-profile' %}">My Profile</a>
            </li>
          {% else %}
            <li class="nav-item mb-0">
              <a href="{% url 'users-profile-list' %}" class="nav-item nav-link">All Profiles</a>
            </li>
          {% endif %}
          <li class="nav-item align-middle">
            <a href="{% url 'my_account' %}" class="nav-item nav-link">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link align-middle"
               href="{% url 'password_change' %}">Change Password</a>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="btn btn-secondary mb-2 mt-2 logout" type="submit">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-item nav-link">Sign in</a>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
