{% extends "base.html" %}
{% block title %}
  My account
{% endblock title %}
{% block breadcrumb %}
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Boards</a>
    </li>
    <li class="breadcrumb-item active">My account</li>
  </ul>
{% endblock breadcrumb %}
{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include "includes/form.html" %}
        <button type="submit" class="btn btn-success mt-4">Save changes</button>
      </form>
    </div>
  </div>
{% endblock content %}
